<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title>首页</title>
	    <script type="text/javascript" src="publick/js/responsive.js"></script>
	    <!--<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>-->
		<link href="publick/css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css?v=1.0" rel="stylesheet"/>
	</head>
	<style type="text/css">
		.container{
			padding-bottom: 1rem;
		}
		.mui-search .mui-placeholder .mui-icon{
			color: #fff;
		}
		/*.mui-scroll-wrapper{
			position: static;
		}
		.mui-pull-top-pocket{
			top:1.2rem;
		}
		.mui-pull-bottom-pocket{
			bottom: 1rem;
		}*/
		#pullrefresh{
			/*padding-top: 5.3rem;*/
			/*top: 5.3rem;*/
			margin-top: 44px;
			padding-bottom: 1rem;
			overflow-y: auto;
		}
		.ticketIn img{
			width: 100%;
			height: 100%;
		}
		.ticketIn{
			display: block;
			width: 100%;
			height: 1.8rem;
			padding: 0.2rem 0.2rem 0 0.2rem;
		}
	</style>
	<body>
		<header class="mui-bar header idxHeader">
		    <!--<a class="mui-icon mui-pull-left headTxt toCity"><img src="images/geoIcon.png"/><span class="geoName"></span></a>-->
		    <div class="mui-input-row mui-search idxSearch">
			    <input type="search" placeholder="搜索" disabled="disabled">
			</div>
			<a class="mui-icon mui-pull-right headTxt toClassify"><img src="images/classifyIcon.png" style="margin: 0;"/></a>
		</header>
		<div class="mui-content container" id="vmObj" v-cloak>
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div id="mapContain"></div>
					<div class="mui-slider" id="slider">
						<div class="mui-slider-group mui-slider-loop imgSet">
							<div class="mui-slider-item mui-slider-item-duplicate banDiv" v-if="lastImg.length"><img :src="lastImg" /></div>
							<div class="mui-slider-item banslide banDiv" v-for="(bannerList,index) in bannerLists">
								<img :src="bannerList.pic" @tap="toBannerCont(index)"/>
							</div>
							<div class="mui-slider-item mui-slider-item-duplicate banDiv"><img :src="firstImg" /></div>
						</div>
						<div class="mui-slider-indicator pointslide">
							<div class="mui-indicator mui-active" v-for="(bannerList,index) in bannerLists" v-if="index==0" @tap="tobanner(index)"></div>
							<div class="mui-indicator" v-else></div>
						</div>
					</div>
					<a @tap="goMyCoup" href="myCoup.html" class="ticketIn"><img src="images/ticket.png" alt=""></a>
					<p class="rcmTit">热销产品</p>
					<ul class="clearfix rcmList">
						<li v-for="(proList,index) in proLists" @tap="toInfo(index)">
							<img :src="proList.goods_img" v-if="proList.goods_img">
							<img src="images/logo.png" v-else>
							<div class='rcmDesc'>
								<p class="mui-ellipsis">{{proList.goods_name}}</p>
								<div class="div1">{{proList.price}}</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab footer">
		    <a class="mui-tab-item mui-active" href="home.html">
		        <img class="a1" src="images/nav_homed.png" alt="" />
		        <span class="mui-tab-label">首页</span>
		    </a>
		    <a class="mui-tab-item" href="shopCart.html">
		        <img class="a2" src="images/nav_shop.png" alt="" />
		        <span class="mui-tab-label">购物车</span>
		    </a>
		    <a class="mui-tab-item" href="my.html">
		        <img class="a3" src="images/nav_my.png" alt="" />
		        <span class="mui-tab-label">我的</span>
		    </a>
		</nav>
		<!--<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
		<script src="publick/js/jquery-3.1.0.min.js"></script>
		<script src="publick/js/vue.min.js"></script>
		<script src="publick/js/mui.js"></script>
		<!--<script src="http://api.map.baidu.com/api?v=2.0&ak=tEcXtwsau55YQ1o4naw6ropbvqc8XgxX"></script>-->
		<!--<script src="https://webapi.amap.com/maps?v=1.3&key=0419742fa3fb227b3c28a83d0f3d39af"></script>
		<script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.10"></script>-->
		<script src="js/common.js"></script>
		<script src="js/index.js?v=1.9.5"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</body>
</html>