<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>入库</title>
	<script type="text/javascript" src="publick/js/responsive.js"></script>
	<link href="publick/css/mui.min.css" rel="stylesheet"/>
	<!--<link href="publick/css/mui.picker.min.css" rel="stylesheet" />-->
	<link href="css/style.css" rel="stylesheet"/>
</head>
<style type="text/css">
	.mui-content{
		background: none;
	}
	#pullrefresh{
		top:0.88rem;
		background: #f3f3f3;
	}
</style>
<body>
<header class="mui-bar header idxHeader">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title head-title">入库</h1>
</header>
<div class="mui-content" id="vmObj" v-cloak>
	<div>
		<div id="pullrefresh" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="inOutSaved">
					<li v-for="(list,index) in dataLists">
						<p class="inOutSaved_headText">订单号:{{list.order_sn}}<span style="float: right">时间:{{list.add_time}}</span></p>
						<div class="inOutSaved_item">
							<img :src="list.goods_img" v-if="list.goods_img">
							<img src="images/logo.png" v-else>
							<div class="inOutSaved_item_text">
								<p class="inOutSaved_item_text_head">{{list.goods_name}}</p>
								<p class="inOutSaved_item_text_item">型号/规格：{{list.spec_name1}}/{{list.spec_name2}}</p>
								<p class="inOutSaved_item_text_item"><span class="inOutSaved_item_text_item_in">库存：{{list.stock}} </span><span class="inOutSaved_item_text_item_unitprice">单价：{{list.price}}</span></p>
							</div>
						</div>
						<p class="inOutSaved_bottomText">
							<span>总价：<i>{{list.total_price}}</i></span>
							<button type="button" class="mui-btn mui-btn-primary" @tap="confirmIn(list)" v-if="list.status==0">确认收货</button>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="publick/js/jquery-3.1.0.min.js"></script>
<script src="publick/js/vue.min.js"></script>
<script src="publick/js/mui.min.js"></script>
<script src="js/common.js"></script>
<script src="js/inbound.js"></script>
<script type="text/javascript">
    mui.init();
</script>
</body>

</html>